#im {
  width: 100px;
  border: 2px solid black;
}
#name {
  margin-bottom: 0;
}
.bold {
  font-weight: bold;
}
.col-lg-4 {
  padding-top: 10px;
  border-right: 20px solid #000060;
  padding-right: 0px;
  margin-right: 0px;
  padding-left: 10px;
  overflow-wrap: break-word;
  border-bottom: 2px solid #000060;
}
.col-lg-8 {
  padding-top: 10px;
  border-bottom: 2px solid #000060;
  margin-left: 0;
  padding-left: 0px;
}
#signature {
  display: inline-block;
  float: right;
  text-align: left;
}
#hobbies,
#date,
#place {
  margin-bottom: 0;
}
#title,
#technical_skills,
#objective {
  padding-top: 5px;
  border-bottom: 2px solid #000060;
  padding-right: 0;
  margin-right: 0;
  padding-left: 10px;
  overflow-wrap: break-word;
}
#hobbies {
  padding-top: 5px;
}
#id {
  position: absolute;
}
.table-responsive {
  position: relative;
}
.heading {
  text-decoration: underline;
  font-weight: bold;
  font-size: 150%;
}
.name {
  margin-bottom: 0;
  padding-bottom: 0;
  font-weight: bold;
  font-size: 150%;
}
@media only screen and (max-width: 992px) {
  .col-lg-4 {
    border-right: 0;
    padding-right: 10px;
  }
  #education {
    padding-top: 5px;
    border-bottom: 2px solid #000060;
    padding-right: 0;
    margin-right: 0;
    padding-left: 10px;
    overflow-wrap: break-word;
  }
  #projects {
    padding-top: 5px;
    padding-right: 0;
    margin-right: 0;
    padding-left: 10px;
    overflow-wrap: break-word;
  }
  #title {
    text-align: center;
  }
  #signature {
    padding-left: 10px;
    display: inline-block;
    float: left;
    text-align: left;
  }
  .col-md-4,
  .col-md-8 {
    margin: 10px;
    padding: 10px;
    border-bottom: 2px solid #000060;
  }
}
@media only screen and (max-width: 375px) {
  #title {
    text-align: center;
  }
}
/*@media only screen and (max-width: 425px){
	.signature{
		text-align: right;
		margin:0;
		padding:0;
	}
	}
		*/
